<%= link_to "New Person", new_person_path, class: "pull-right" %>
<h1>Staff</h1>

<table class="table">
  <thead>
  <tr>
    <th>Name</th>
    <th>Locations</th>
  </tr>
  </thead>
  <tbody>
  <% @people.each do |person| %>
    <tr class="person">
      <td>
        <%= person.title %>
        <%= link_to "#{person.first_name} #{person.last_name}", person_path(person.id) %>
      </td>
      <td>
        <%= person.assignments.length %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
