<h1>Locations</h1>

<table class="table">
  <thead>
  <tr>
    <th>Name</th>
  </tr>
  </thead>
  <tbody>
  <% @locations.each do |location| %>
    <tr>
      <td>
        <%= location.name %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
